*.dll
*.so
*.dylib
data/
output/
runs/
result/
inference/
.env
.vscode/
.idea/
__pycache__/
*.pyc
.DS_Store
Thumbs.db
venv/
env/
.venv/
paddle_env/
paddle_ocr_pretrained_model/
*.pdparams
*.pdopt
*.pdmodel
*.pt
*.onnx